.hide {
  display: none !important;
}

.show {
  display: block !important;
}

.input {
  margin-bottom: 10px;
  margin-top: 20px;
}

.header_container {
  height: 10vh !important;
  background-color: rgb(206, 206, 206);
  margin-bottom: 10px;
}

.autor_img {
  width: 60px;
  height: 60px;
  border-radius: 20px;
}

.blog_link {
  text-decoration: none !important;
}
