.contacts-table {
  list-style-type: none;
}
table {
  margin-top: 30px !important;
}
table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

.contact_item_btn {
  border: none;
  background: none;
}
