body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header {
  border: solid 2px rgb(85, 85, 109);
  padding: 10px;
}

.tab-item {
  list-style-type: none;
  font-size: 20px;
  font-weight: 700;
}

.tab_item_btn {
  color: grey;
  border: none;
  background: none;
}

.tab_item_active_btn {
  border-bottom: solid 2px rgb(40, 40, 134) !important;
}

.project_item_li {
  list-style-type: none;
}
